# Dataset
01-ai-training/dataset/

01-ai-training/.ipynb_checkpoints/

02-iot-camera/app/__pycache__/

# CodeIgniter
03-codeigniter-cms/.env

03-codeigniter-cms/vendor/

03-codeigniter-cms/writable/cache/*
!03-codeigniter-cms/writable/cache/index.html

03-codeigniter-cms/writable/logs/*
!03-codeigniter-cms/writable/logs/index.html

03-codeigniter-cms/writable/session/*
!03-codeigniter-cms/writable/session/index.html

03-codeigniter-cms/writable/uploads/*
!03-codeigniter-cms/writable/uploads/index.html

03-codeigniter-cms/writable/debugbar/*
!03-codeigniter-cms/writable/debugbar/index.html

03-codeigniter-cms/node_modules/

03-codeigniter-cms/.vscode/
03-codeigniter-cms/.idea/

03-codeigniter-cms/.DS_Store
03-codeigniter-cms/Thumbs.db
